<!DOCTYPE html>

<html>
	<head>
		<title>Pi Wecker</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
	</head>
	<body>
		<div class="navbar">
			<ul>
				<li><a id="active" href="{{ url_for('index') }}">Home</a></li>
				<li><a href="{{ url_for('settings') }}">Settings</a></li>
			</ul>
		</div>
		<h1>RaspberryPi Wecker</h1>
		
		<div id="information-content">
			<p id="dateDisplay"></p>
			<p id="timeDisplay"></p>
		</div>	

		<script src="{{ url_for('static', filename='js/alarmClock.js') }}"></script>
	</body>
</html>
