body {
    background: rgb(28, 28, 28);
    padding-top: 5em;
    display: flex;
    flex-direction: column; /* Stacks elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically*/
}


/* Headline receives a typerwriter animation because why not?*/
.headline h1 {
    color: white;
    position: relative;
    text-align: center;
    overflow: hidden; /* Don't show content until animation */
    border-right: .15em solid purple; /* Typewriter cursor */
    white-space: nowrap; /* Ensures content stays on a single line */
    margin: 0 auto; /* For scrolling effect during the typing animation */
    letter-spacing: .1em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    
}

.headline p {
    font-size: 20px;
    color: white;
}
.headline {
    margin-bottom: 1em; /* Some distance between headline and buttons */
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to {border-color: transparent } 50% { border-color: purple; }
}

.controlbox {
    display: flex;
    align-items: center; /* Center buttons horizontally */
    margin-top: 1em; /* Space between headline and buttons */
}

.controlbox button {
    position: relative;
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin: 0 0.5em;
}

.controlbox button:active, .controlbox button:hover {
    outline: 0;
}

.controlbox button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.controlbox button:hover span {
    background: none;
}
